body {
  margin: 0px;
}

header {
  z-index: 999;
  height: 5em;
  border-bottom: solid 1px #e0dedc;
}

.header-totaal {
  display: flex;
}

.logo {
  scale: 125%;
  position: absolute;
  margin: auto 0;
}
.header-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-rechts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.profile {
  height: 2.5em;
  width: 2.5em;
}

.sectie-a {
  display: flex;
}
.werkvormen {
  display: grid;
  grid-auto-flow: row;
  margin: 0 auto;
  gap: 5em;
}

.werkvorm {
  background: #f9f8f8;
  height: 15em;
  width: 25em;
  border-style: solid;
  border-width: 1px;
  border-color: #e0dedc;
  align-self: center;
}
