body {
  margin: 0px;
}

header {
  z-index: 999;
  height: 5em;
  border-bottom: solid 1px #e0dedc;
  width: 100%;
}

.header-totaal {
  display: flex;
  justify-content: space-between;
}

.header-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.header-rechts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.logo {
  scale: 125%;
  position: absolute;
  margin: auto 0;
  padding: 1em 0em 0em 3em;
}

.header-text {
  padding: 1em 1em 0em 1em;
  font-weight: bold;
  font-family: "Secular One", sans-serif;
}

.profile {
  height: 2.5em;
  width: 2.5em;
}

.subheader {
  border-style: none;
  width: 100%;
  height: 4em;
}

.zoekbalk {
  z-index: 999;
  height: 4em;
  border-bottom: solid 1px #e0dedc;
  display: flex;
  color: #c0beb9;
  align-items: center;
  padding-left: 3.5em;
}

.vergrootglas {
  height: 2.5em;
  width: 2.5em;
  color: black;
  padding-right: 1em;
}

.text-zoekbalk {
  border-style: none;
  width: 20em;
  font-family: yrsa, serif;
  font-size: 18px;
}

.dropdown-totaal {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  padding: 1em 0em 0em 7em;
  gap: 2em;
}

.dropdown-categoriën,
.dropdown-duur,
.dropdown-niveau {
  display: inline-block;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: bold;
  font-family: "Secular One", sans-serif;
  background: transparent;
  border-style: none;
  font-size: 16px;
  -webkit-text-fill-color: black;
}

.dropdown-content-categoriën,
.dropdown-content-duur,
.dropdown-content-niveau {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 15em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-categoriën:hover .dropdown-content-categoriën,
.dropdown-duur:hover .dropdown-content-duur,
.dropdown-niveau:hover .dropdown-content-niveau {
  display: block;
}

ul {
  padding-left: 1em;
}

li {
  list-style-type: none;
  padding: 0.5em 0em 0.5em 0em;
  font-family: yrsa, serif;
}

li:hover {
  text-decoration: underline;
}

.sectie-a {
  display: flex;
}
.werkvormen {
  display: grid;
  grid-auto-flow: row;
  margin: 0 auto;
  gap: 5em;
  padding: 5em;
}

@media screen and (max-width: 1050px) {
  .werkvormen {
    grid-template: repeat(4, 1fr) / repeat(1, 1fr);
  }
}

.werkvorm {
  background: #f9f8f8;
  height: 15em;
  width: 25em;
  border-style: solid;
  border-width: 1px;
  border-color: #e0dedc;
  align-self: center;
}

.img-werkvorm {
  height: 15em;
  width: 25em;
  transition: all 200ms cubic-bezier(0.42, 0, 0.72, 0.995); /* custom */
  transition-timing-function: cubic-bezier(0.42, 0, 0.72, 0.995); /* custom */
}

.img-werkvorm:hover {
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.07);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.07);
  cursor: pointer;
}
